.header {
    position: absolute;
    left: 0;
    top: 5%;
    width: 100%;
}

.title {
    position: absolute;
    left: 5%;
}

.create_case {
    position: absolute;
    right: 5%;
}

.item_img {
    po
    width: 200px;

}