@keyframes scroll {
    0% {
        left: 0;
    }

    100% {
        left: -10000px;;
    }
}

.Blue {
    background-color: blue;
    border-radius: 10%;
    transition-duration: 0.3s;
}

.Blue:hover {
    box-shadow: 0 0 30px 0 rgba(0, 0, 255, .8);
    transition-duration: 0.3s;
}

.Purple {
    background-color: rgb(108, 50, 178);
    border-radius: 10%;
    transition-duration: 0.3s;
}

.Purple:hover {
    box-shadow: 0 0 30px 0 rgba(108, 50, 178, .8);
    transition-duration: 0.3s;
}

.pink {
    background-color: #ff1aff;
    border-radius: 10%;
    transition-duration: 0.3s;
}

.pink:hover {
    box-shadow: 0 0 30px 0 rgba(255, 26, 255, .8);
    transition-duration: 0.3s;
}

.red {
    background-color: red;
    border-radius: 10%;
    transition-duration: 0.3s;
}

.red:hover {
    box-shadow: 0 0 30px 0 rgba(255, 0, 0, .8);
    transition-duration: 0.3s;
}

.yellow {
    background-color: yellow;
    border-radius: 10%;
    transition-duration: 0.3s;
}

.yellow:hover {
    box-shadow: 0 0 30px 0 rgba(255, 255, 0, .8);
    transition-duration: 0.3s;
}

.link {
    text-decoration: none;
    color: rgba(255, 255, 255, .7);
}

.link:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, .7);
}

.createCaseTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: rgba(255, 255, 255, .7);
    position: absolute;
    left: 3%;
    cursor: pointer;
    transition: .2s;
}

.title:hover {
    color: rgba(255, 255, 255, .9);
    transition: .2s;
    text-shadow: 0 0 10px rgba(255, 255, 255, .7);
}

.header {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 5%;
}

.caseName {
    background-color: #1f2023;
    border: none;
    color: white;
    opacity: 90%;
    width: 355px;
    height: 40px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3px;
    outline: none;
    box-sizing: border-box;
}

.modalDarkTheme {
    background-color: #1f2023;
    border: #010101;
}

.background {
    background-color: #27292d;
}

.plus {
    width: 150px;
    height: 150px;
    opacity: 70%;
    transition: .2s;
}

.plus:hover {
    width: 155px;
    height: 155px;
    transition: .2s;
}

.modal_button {
    width: 150px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: .2s;
}

.modal_button:hover {
    width: 155px;
    height: 155px;
    margin-bottom: 45px;
    transition: .2s;
}

.selectCase {
    position: relative;
    top: 0;
    width: 150px;
    height: 115px;
    transition: .2s;
}

.selectCase:hover {
    width: 155px;
    height: 119px;
    transition: .2s;
}

.chooseItemTitle {
    text-align: center;
    margin-top: 50px;
}

.caseImage {
    padding: 20px;
}

.hoverCase:hover {
    cursor: pointer;
    background-color: #1f2023;
    opacity: 90%;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(10, 10, 10, .7);
}

.createCaseForm {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.itemBox {
    position: relative;
    left: 50%;
    transform: translate(-48.5%, 0);
    background-color: #1f2023;
    height: 500px;
    width: 700px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
    overflow-y: auto;
    overflow-x: hidden;
}

.itemBox::-webkit-scrollbar {
    width: 8px;
}

.itemBox::-webkit-scrollbar-track {
    border-radius: 4px;
}

.itemBox::-webkit-scrollbar-thumb {
    background: #1f2023;
    border-radius: 10px;
}

.itemBox:hover::-webkit-scrollbar-thumb {
    background: rgb(54, 56, 58);
}

.line {
    background-color: #010101;
    margin-top: 50px;
    width: 1000px;
    height: 1px;
    border-radius: 50%;
}

.itemImg {
    width: 120px;
    height: 92px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.item {
    width: 150px;
    height: 190px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
}

.itemPrice {
    color: #7ed321;
    opacity: 80%;
    transform: skew(-15deg);
}

.itemName {
    transform: skew(-15deg);
    text-align: center;
}

.caseNameBlock {
    background-color: #1f2023;
    border: 1px solid #2d2f34;
    border-radius: 10px;
    width: 369px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    transition: .3s;
}

.caseNameBlock:hover {
    background-color: #1f2023;
    border: 1px solid #2d2f34;
    color: white;
    opacity: 90%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    transition: .3s;
}

.caseNameBlock:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.selectItem {
    border: 1px solid rgba(255, 255, 255, .8);
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(100, 100, 100, .8);
}

.price {
    text-align: left;
    width: 200px;
    padding: 0;
}

.submitButton {
    background-color: #1f2023;
    border: solid black 1px;
    border-radius: 10px;
    color: white;
    opacity: 70%;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 200px;
    height: 50px;
    font-size: 27px;
    transition: .3s;
}

.submitButton:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    transition: .3s;
}

.user {
    position: absolute;
    right: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 50px;
}

.avatar {
    position: absolute;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.balance {
    position: absolute;
    display: flex;
    top: 50%;
    height: 20px;
    font-family: Roboto, sans-serif;
    left: 22%;
    border: 1px solid rgba(109, 174, 1, .45);
    border-radius: 5px;
    transform: skew(-5grad);
    align-items: center;
    cursor: pointer;
    transition: .2s;
}

.balance:hover {
    border: 1px solid rgba(109, 174, 1, .9);
    box-shadow: 0 0 5px 0 rgba(109, 174, 1, .7);
    transition: .2s;
}

.balance:hover .fillBalance {
    display: flex;
    background-color: rgba(109, 174, 1, .9);
    width: 20px;
    height: 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    transition: .2s;
}

.fillBalance:before {
    content: "+";
    display: flex;
    background-color: rgba(109, 174, 1, .8);
    width: 20px;
    height: 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    transition: .2s;
}

.userName {
    font-family: Roboto, sans-serif;
    position: absolute;
    top: 2px;
    width: 50px;
    height: 11px;
    font-size: 15px;
    left: 22%;
}

.createCaseBody {
    position: absolute;
    top: 37%;
    width: 90%;
    right: 5%;
}

.createCase {
    position: absolute;
    right: 5%;
    top: 120%;
    cursor: pointer;
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: rgba(255, 255, 255, .0) solid 1px;
    border-radius: 5px;
    transform: skew(-10deg);
    transition: .2s;
}

.createCase:hover {
    border: rgba(255, 255, 255, .7) solid 1px;
    box-shadow: 0 0 1px 0 rgba(255, 255, 255, .7);
    transition: .2s;
}

.headerLine {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    height: 1px;
    left: 5%;
    width: 90%;
    bottom: -10%;
    transform: skew(-15deg);
    background-color: black;
}

.content {
    position: absolute;
    top: 37%;
    width: 90%;
    left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.nameCase {
    font-size: 20px;
    transform: skew(-5deg);
}

.casePrice {
    font-size: 25px;
    color: #ffdc00;
    opacity: 90%;
}

.case {
    position: relative;
    top: 0;
    width: 300px;
    height: 300px;
    display: flex;
    margin: 20px 27px 20px 27px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;
}

.case:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .7);
    top: -20px;
    transition: .2s;
}

.case:active {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .7) inset;
    transition: .2s;
}

.caseImg {
    width: 250px;
    height: 192px;
}

.casePageTitle {
    transform: skew(-5deg);
    margin-bottom: 5%;
}

.casePage {
    position: absolute;
    top: 37%;
    right: 5%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.underline {
    position: relative;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0 0 30px rgba(255, 255, 255, .8);
    transform: skew(-15deg);
    height: 4px;
    width: 130%;
    right: 15%;
}

.itemsInCase {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    left: 10%;
    align-content: stretch;
    justify-content: space-around;
    top: 130%;
}

.caseOpen {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
}

.imgCase {
    width: 150px;
    height: 115px;
}

.button {
    display: flex;
    width: 250px;
    background-color: #6dae01;
    border-radius: 10px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transform: skew(-15deg);
    transition: .2s;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.button:hover {
    box-shadow: 0 0 10px 0 #6dae01;
    transition: .2s;
}

.itemInCase {
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.scrollHolder {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    background: black;
    height: 125px;
    width: 550px;
    border-radius: 10px;
}

#case_scroll {
    position: absolute;
    height: 125px;
}

.scrollAnimate {
    animation-name: scroll;
    animation-duration: 5.5s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    transition-timing-function: cubic-bezier(1.000, -0.005, 0.000, 1.010);
}

.casePlace {
    height: 150px;
    width: 550px;
    display: flex;
    justify-content: center;
}

.itemImg_scroll {
    width: 150px;
    height: 115px;
}

.item_scroll {
    display: inline-block;
    width: 150px;
    height: 115px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    border-radius: 5px;
}

.triangleBottom {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 10px;
    height: 10px;
}

.triangleTop {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%;
    top: -1px;
    transform: rotate(180deg);
}

.buttonPlace {
    margin-top: 7%;
    display: flex;
    width: 900px;
    height: 50px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.prizeName {
    display: flex;
    position: absolute;
    margin-top: 15%;
    font-size: 30px;
}

.registration_form {
    display: flex;
    position: absolute;
    top: 37%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.registration_title {
    font-size: 50px;
    margin-bottom: 70px;
}

.registration_input {
    width: 280px;
    height: 40px;
    background-color: #27292d;
    border: 1px solid #010101;
    border-radius: 5px;
    outline: none;
    color: #ffffff;
    opacity: 70%;
    font-size: 20px;
}

.registration_input:focus {
    border: 1px solid #0066cc;
}

.registration_inputDiv {
    display: flex;
    position: relative;
    margin-bottom: 15%;
    border: none;
    width: 280px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

label {
    position: absolute;
    left: 3%;
    top: 8%;
    background-color: #27292d;
    color: rgba(255, 255, 255, .3);
    font-size: 20px;
    font-weight: normal;
    pointer-events: none;
    transition: .2s;
}

.registration_input:focus ~ label, .registration_input:valid ~ label {
    top: -35%;
    font-size: 15px;
    height: 15px;
    color: rgba(255, 255, 255, .6);
    transition: .2s;
}

.visibility {
    position: absolute;
    opacity: 50%;
    top: 7px;
    right: 3%;
}

.registration_button
{
    border: none;
    border-radius: 10px;
    background-color: #010101;
    color: rgba(255, 255, 255, .7);
    height: 30px;
    width: 150px;
    font-size: 20px;
    opacity: 70%;
    margin-bottom: 50px;
    transition: .2s;
}

.registration_button:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .8);
    transition: .2s;
}

.registration_button:active {
    box-shadow: inset 0 0 40px 0 rgba(50, 50, 50, .8);
}

.registration_border {
    display: flex;
    position: absolute;
    border: 1px solid #010101;
    height: 650px;
    width: 40%;
    border-radius: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.logOn_form {
    display: flex;
    position: absolute;
    top: 37%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.logOn_title {
    font-size: 50px;
    margin-bottom: 70px;
}

.logOn_input {
    width: 280px;
    height: 40px;
    background-color: #27292d;
    border: 1px solid #010101;
    border-radius: 5px;
    outline: none;
    color: #ffffff;
    opacity: 70%;
    font-size: 20px;
}

.logOn_input:focus {
    border: 1px solid #0066cc;
}

.logOn_inputDiv {
    display: flex;
    position: relative;
    margin-bottom: 15%;
    border: none;
    width: 280px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.logOn_input:focus ~ label, .logOn_input:valid ~ label {
    top: -35%;
    font-size: 15px;
    height: 15px;
    color: rgba(255, 255, 255, .6);
    transition: .2s;
}

.logOn_button {
    border: none;
    border-radius: 10px;
    background-color: #010101;
    color: rgba(255, 255, 255, .7);
    height: 30px;
    width: 150px;
    font-size: 20px;
    opacity: 70%;
    margin-bottom: 50px;
    transition: .2s;
}

.logOn_button:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .8);
    transition: .2s;
}

.logOn_button:active {
    box-shadow: inset 0 0 40px 0 rgba(50, 50, 50, .8);
}

.logOn_border {
    display: flex;
    position: absolute;
    height: 450px;
    width: 40%;
    border-radius: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.inventory_user {
    position: absolute;
    top: 37%;
    left: 0;
    width: 100%;
    height: 300px;
}

.inventory_avatar {
    position: absolute;
    left: 3%;
    width: 100px;
    height: 100px;
}

.inventory_userName {
    position: absolute;
    top: 4%;
    left: 10%;
    font-size: 40px;
}

.changeName {
    position: absolute;
    top: 25%;
    left: 110%;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.rename {
    position: absolute;
    width: 35px;
    height: 35px;
    opacity: 70%;
    top: 5%;
    left: 5%;
}