p {
    color: rgba(255, 255, 255, .7);
}

h1 {
    color: rgba(255, 255, 255, .7);
}

h5 {
    color: rgba(255, 255, 255, .7);
}

h4 {
    color: rgba(255, 255, 255, .7);
}

span {
    color: rgba(255, 255, 255, .7);
}

div {
    color: rgba(255, 255, 255, .7);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caseName {
    background-color: #1f2023;
    border: none;
    color: white;
    opacity: 90%;
    width: 355px;
    height: 40px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3px;
    outline: none;
    box-sizing: border-box;
}

.modalDarkTheme {
    background-color: #1f2023;
    border: #010101;
}

.background {
    background-color: #27292d;
}

.plus {
    width: 150px;
    height: 150px;
    opacity: 70%;
    transition: .2s;
}

.plus:hover {
    width: 155px;
    height: 155px;
    transition: .2s;
}

.modal_button {
    width: 150px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: .2s;
}

.modal_button:hover {
    width: 155px;
    height: 155px;
    margin-bottom: 45px;
    transition: .2s;
}

.selectCase {
    width: 150px;
    height: 115px;
    transform: translate(0, 50%);
    transition: .2s;
}

.selectCase:hover {
    width: 155px;
    height: 119px;
    transition: .2s;
}

.chooseItemTitle {
    text-align: center;
    margin-top: 50px;
}

.caseImage {
    padding: 20px;
}

.hoverCase:hover {
    cursor: pointer;
    background-color: #1f2023;
    opacity: 90%;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(10, 10, 10, .7);
}

.createCaseForm {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.itemBox {
    position: relative;
    left: 50%;
    transform: translate(-48.5%, 0);
    background-color: #1f2023;
    height: 500px;
    margin-top: 20px;
    width: 700px;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.line {
    background-color: #010101;
    margin-top: 50px;
    width: 1000px;
    height: 1px;
    border-radius: 50%;
}

.itemImg {
    width: 120px;
    height: 92px;
    margin-top: 5px;
}

.item {
    width: 150px;
    height: 170px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
}

.itemPrice {
    color: #7ed321;
    opacity: 80%;
    transform: skew(-15deg);
}

.itemName {
    transform: skew(-15deg);
}

.caseNameBlock {
    background-color: #1f2023;
    border: 1px solid #2d2f34;
    border-radius: 10px;
    width: 369px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    transition: .3s;
}

.caseNameBlock:hover {
    background-color: #1f2023;
    border: 1px solid #2d2f34;
    color: white;
    opacity: 90%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    transition: .3s;
}

.caseNameBlock:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.selectItem {
    border: 1px solid rgba(255, 255, 255, .8);
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(100, 100, 100, .8);
}

.blue {
    background-color: blue;
    border-radius: 10%;
    transition-duration: 0.3s;
}

.blue:hover {
    box-shadow: 0 0 30px 0 rgba(0, 0, 255, .8);
    transition-duration: 0.3s;
}

.purple {
    background-color: rgb(108, 50, 178);
    border-radius: 10%;
    transition-duration: 0.3s;
}

.purple:hover {
    box-shadow: 0 0 30px 0 rgba(108, 50, 178, .8);
    transition-duration: 0.3s;
}

.pink {
    background-color: #ff1aff;
    border-radius: 10%;
    transition-duration: 0.3s;
}

.pink:hover {
    box-shadow: 0 0 30px 0 rgba(255, 26, 255, .8);
    transition-duration: 0.3s;
}

.red {
    background-color: red;
    border-radius: 10%;
    transition-duration: 0.3s;
}

.red:hover {
    box-shadow: 0 0 30px 0 rgba(255, 0, 0, .8);
    transition-duration: 0.3s;
}

.yellow {
    background-color: yellow;
    border-radius: 10%;
    transition-duration: 0.3s;
}

.yellow:hover {
    box-shadow: 0 0 30px 0 rgba(255, 255, 0, .8);
    transition-duration: 0.3s;
}